# node modules
node_modules/
package-lock.json
# env files
.env

# logs
logs/
*.log
npm-debug.log*

# runtime
.pids
*.pid
*.seed

# system files
.DS_Store
Thumbs.db

# coverage
coverage/

# compiled
dist/
build/
